.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 20px;
  max-width: 1400px;
  width: 100%;
  animation: fadeIn 1s ease-in-out;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.title {
  font-size: 2.5em;
  margin: 10px 0;
  text-align: center;
  color: #ccc;
}

.moviesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 2560px) {
  .cardList {
    max-width: 2000px;
  }

  .title {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 3840px) {
  .cardList {
    max-width: 2800px;
  }

  .title {
    font-size: 4em;
  }
}

@media screen and (max-width: 1200px) {
  .cardList {
    max-width: 900px;
  }
}

@media screen and (max-width: 992px) {
  .cardList {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .cardList {
    max-width: 100%;
    padding: 0 10px;
  }

  .title {
    font-size: 2em;
  }
}