.moviePlayerWrapper {
    width: 100%;

  }
  
  .MoviePlayerTitle{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #999;
    transition: color 0.3s ease,  background-color 0.2s ease;
  }

  .kinobox_player {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
  