.detailsList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infoItem {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 32em;
    max-width: 510px;
    text-align: right;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.infoItem dt {
    font-weight: bold;
    color: #ccc;
    margin-right: 10px;
}

.infoItem dd {
    color: #fff;
}

.infoItem:nth-child(odd) {
    background: rgba(255, 255, 255, 0.2);
}