:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c101b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.ant-collapse-header{
  background-color: #0c101b;
  border-radius: 10%;
}

.ant-collapse-content-box{
  background-color: #0c101b;
  border-radius: 10px;
}

.ant-collapse-header-text{
  font-size: 20px;
  color: #ccc;
  transition: color 0.3s ease,  background-color 0.2s ease;
  padding: 10px;
  border-radius: 10px;
}

.ant-collapse-expand-icon span svg{
  fill: #ccc;
  font-size: 20px;
  transition: fill 0.3s ease;
}

.ant-collapse-expand-icon{
  align-self: center;
}

.ant-collapse-header:hover .ant-collapse-header-text{
  color: #f30745;
  filter: brightness(80%);
  background-color: rgba(255, 255, 255, 0.1);
}
.ant-collapse-header:hover .ant-collapse-expand-icon span svg{
  fill: #f30745;
  filter: brightness(80%);
}

.ant-collapse-header:hover .ant-collapse-arrow{
  color: #000;
  fill: #000;
}

.swiper-cards{
  height: 31.25em;
  margin: 0;
  margin-right: 7em;
}

.swiper-3d .swiper-slide-shadow {
  background: none;
}

::selection {
  background: #ccc; 
  color:#000
  }

