.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px;
    gap: 15px;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid transparent;
    border-top: none;
  }
  
  .searchContainer.transparent {
    background-color: #0c101b; 
    border-color: #7e85974f;
    opacity: 0.9;
  }

.searchInput {
    padding: 18px;
    width: 100%;
    max-width: 400px;
    font-size: 22px;
    max-height: 70px;
    border: 3px solid #9292f5;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
    color: #fff;
    outline: none;
    transition: box-shadow 0.5s ease, border-color 0.5s ease, background-color 0.3s ease;

    &::placeholder {
        color: #aaa;
        font-style: italic;
        font-size: 18px;
    }

    &:focus {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    }
}

.clickButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
    border: 3px solid transparent;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    max-width: 70px;
    max-height: 70px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    }

    &:focus {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    img {
        width: 35px;
        height: 35px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    &:hover img {
        transform: scale(1.2);
    }
}

.backButton {
    /* border-color: #6d118f; */
    border-color: #ff4067 ;
}

.homeButton {
    /* border-color: #ee4266; */
    border-color: #bd2fd1  ;
}

.searchButton {
    /* border-color: #3bceac; */
    border-color: #00cdaf  ;
}